PORT=3000
# Firebase ishlatilmoqda - config fayli firebase-applet-config.json'dan olinadi
SESSION_SECRET=your_secret_key_here

# Admin panel uchun boshlang'ich ma'lumotlar
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
